# .gitignore
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/default.*
*/*xcodeproj/*.xcworkspace/
*/*.xcodeproj/xcshareddata/
*/*.xcodeproj/xcuserdata/

!bin/data/
*.app


build/
!README.txt

02_03_justMovinTest2
meshFromCamera
